<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" max-width="3">
        <ion-item>
          <ion-card *ngFor="let product of products">
            <ion-thumbnail item start>
              <img [src]="product.picture">
            </ion-thumbnail>
            <h4>{{product.name}}</h4>
            <p>{{product.price}}</p>
          </ion-card>
        </ion-item>
      </ion-col>
