.displayed{
    min-height: 10px;
    vertical-align: middle;
  }
  
  .container{
    align-items: center;
    text-align: center;
    align-content: center;
    height:100%;
  }
  
  .content{
    position: fixed;
    margin-top: 310px;
    margin-left: 40px;
  }
  
  .buttons-action{
    margin-left:5px;
  }
  /*.singup-text{
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  .singin-text{
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }*/
  
  ion-input{
    background-color: #ededed;
    border-radius:5px;
    font-size: x-small;
  }
  
  .actionbutton{
      background-color: turquoise;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      margin-left: 15px;
      margin-right: 13px;
      font-size:smaller;
      font-family: 'Nunito', sans-serif;
  }
  
  .line{
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
  }
  