<body>


  <ion-app fullscreen="true">
  <ion-header>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </ion-header>
  
  <ion-content class="displayed">
    <ion-grid>
      <ion-row class="container">
        <ion-col size-md="6" offset-md="3">
          Imagem
          <div class="ion-padding">
            <ion-input placeholder="Digite seu e-mail ou CPF"></ion-input>&nbsp;
            <ion-input placeholder="Senha"></ion-input>
          </div>
          <div class="content">
            <ion-button fill="clear" color="dark" size="large">
            </ion-button>
          </div>
          <ion-button class="actionbutton" expand="full">Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
  
  </ion-app>
  
  </body>
  